{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dividend Prediction Search</title>
    <!-- Load the CSS file using Django's static tag -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Correctly reference the CSS file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="page">
        <h1>Stock Dividend Predictor</h1>

        <p>Predict the next 5 dividend payments of any stock you want with the Long Short-Term Memory model! Search the name of the company in the below search bar and click to continue.</p>

        <!-- Add a warning div above the search bar -->
        <div class="warning">
            <p><strong>Note:</strong> It is going to train the model for your stock of choice before making a prediction, so please give it a moment after clicking the stock. This model may not function as expected if there have not been enough historical dividend payments made by the chosen firm.</p>
        </div>


        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search..." />
        </div>
        <div id="results" class="results-container">
            <!-- Filtered results will appear here -->
        </div>
    </div>    
    <script src="{% static 'js/live_search.js' %}"></script>
</body>
</html>
